header{
    width: 1000px;
    height: 60px;
    margin: auto;
    background-color: rgb(61, 66, 71);
}
.navigation{
    margin: auto;
    text-align: center;
}
.navlink {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    font-size: 20pt;
    font-family: "Manrope", sans-serif;
    padding: 10px;
}